/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/* */


body{
    font-family: 'Inter', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 550px;
    background-color: hsla(0, 0%, 7%, 1);


}

h3{
    font-size: 1.125rem;
    color:hsla(240, 1%, 18%, 1);
    font-weight: 700;

}


header > a{
    color:hsla(240, 1%, 18%, 1);
    font-size: .875rem;
    font-weight: bold;
}

h1{
    font-size: 2.7rem;
}

.header{
    display: flex;
    color: white;
    background-image: url("./assets/background.png");
    justify-content: space-between;
    padding-top: 5.125em;
    padding-bottom: 5.125em;
    padding-left: 2.75em;
    padding-right: 2.75em;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.25em;
}

.search-button{
    border-radius: 0px, 6px, 6px, 0px;
    background: hsla(0, 0%, 30%, 1);
    border: none;
    font-size: .875rem;
    color: white;
    min-height: 38px;
    padding: 0 2.3em;
    margin: 0;
}


.search-button:hover{
    cursor: pointer;
    background-color: rgb(69, 68, 68);
}



input{
    min-width: 342px;
    min-height: 38px;
    padding-left: 1em;
    color: hsla(0, 0%, 65%, 1);
    background-color: #2e2e2f;
    border: none;
    margin: 0;

}

/* Main Section Styling */



.main-section{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2.75em;
    padding-right: 2.75em;
}

.placeholder-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.movie{
    display: flex;
    color: white;
    border-bottom: 1.5px solid hsla(0, 0%, 17%, 1);
    padding-bottom: 1em;
}


.add-to-watchlist-section,
.extra-details,
.title{
    display: flex;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: center;
}

.movie-poster{
    width: 99px;
    height: 147px;
}



.movie-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: .5em;
}

.movie-description{
    font-size: .875rem;
    margin-top: .5em;
    color: hsla(0, 0%, 65%, 1);
}

.rating{
    margin-left: .5em;
}

.watchlist-btn{
    width: 16px;
    height: 16px;
    margin-right: .3em;
    border-radius: 50%;
    border:none;
    
}

.runtime,
.genre,
.watchlist-text,
.rating{
    font-size: .75rem;
    font-weight: 400;
    color: white;
    margin-right: 1.5em;
    
}

.hidden{
    display: none;
}




/* 
            <div class="movie">
                <img src="./assets/movie.png" alt="">
                <div class="details">
                    <div class="title">
                        <h2 class="movie-title">Blade Runner</h2>
                        <h2 class="rating">8.1</h2>
                        <img src="./assets/Star.png" alt="">
                    </div>
                    <div class="extra-details">
                        <h3 class="runtime">116 min</h3>
                        <h3 class="genre">Drama, Mystery, Sci-fi</h3>
                        <div>
                            <button img="./assets/plus.png"></button>
                            <h3>Watchlist</h3>
                        </div>
                        <p class="movie-description">A blade runner must pursue and terminate four replicants who stole a ship in space, 
                        and have returned to Earth to find their creator.</p>
                    </div>
                     */